<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body>
    {% include nav.html %}
    <!-- <nav>
  		<ul>
    		<li><a href="/">Home</a></li>
      	<li><a href="/about">About</a></li>
    		<li><a href="/cv">CV</a></li>
    		<li><a href="/projects">Projects</a></li>
    		<li><a href="/notes">Notes</a></li>
  		</ul>
		</nav> -->

    <div class="container">

      {{ content }}

		</div><!-- /.container -->


		<footer>
  		<ul>
    		<!--li><a href="mailto:hankquinlanhub@gmail.com">email</a></li-->
    		<li><a href="https://github.com/LewisGaul">github.com/LewisGaul</a></li>
			</ul>
		</footer>

</html>
